{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-------------   Banner de perfil   Old
<h4>Perfil do Usuário</h4>
<br>
<div class="card mb-3">
    {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" class="card-img-top" height="450">
    {% else %}
        <img src="{% static 'MeuBlog/images/profile.jpg' %}" class="card-img-top" height="450">
    {% endif %}
        
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
            <p class="card-text"> {{ page_user.user.profile.bio }}</p>
            <p class="text-muted">

                {% if page_user.website_url %}
                | <a href="{{ page_user.website_url }}">Website</a>
                {% endif %}

                {% if page_user.facebook_url %}
                | <a href="{{ page_user.facebook_url }}">Facebook</a>
                {% endif %}

                {% if page_user.twitter_url %}
                | <a href="{{ page_user.twitter_url }}">Twitter</a>
                {% endif %}

                {% if page_user.instagram_url %}
                | <a href="{{ page_user.instagram_url }}">Instagram</a>
                {% endif %}

                {% if page_user.pinterest_url %}
                | <a href="{{ page_user.pinterest_url }}">Pinterest</a>
                {% endif %}

                {% if page_user.github_url %}
                | <a href="{{ page_user.github_url }}">GitHUb</a>
                {% endif %}
                
                {% if page_user.linkedin_url %}
                | <a href="{{ page_user.linkedin_url }}">LinkedIn</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
------------->

<link src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></link>
<script type="txt/css" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<link src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/static/MeuBlog/css/perfilbaner.css">

<h3>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h3>
<hr>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4" style="box-shadow: 0px 2px 23px black;">
                <div class="text-center">
                    {% if page_user.profile_pic %}
                        <img src="{{ page_user.profile_pic.url }}" width="300">
                    {% else %}
                        <img src="{% static 'MeuBlog/images/profile.jpg' %}" width="300">
                    {% endif %} 
                </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5> <span>Desenvolvedor</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">{{ page_user.user.profile.bio }}</p>
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}