{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
{% if post.author.profile.id %}
    <div class="card mb-3">
        <div class="row no-gutters">
        <div class="col-md-4">
            
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start">
            {% else %}
                <img src="{% static 'MeuBlog/images/profile.jpg' %}" class="img-fluid rounded-start">
            {% endif %}
        
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
            <p class="card-text"> {{ post.author.profile.bio|slice:":200"|safe }}  ...</p>
            <p class="text-muted">

                <a href="{% url 'show_proflie_page' post.author.profile.id %}">Página de Perfil</a>

                {% if user.profile.website_url %}
                | <a href="{{ user.profile.website_url }}">Website</a>
                {% endif %}

                {% if user.profile.facebook_url %}
                | <a href="{{ user.profile.facebook_url }}">Facebook</a>
                {% endif %}

                {% if user.profile.twitter_url %}
                | <a href="{{ user.profile.twitter_url }}">Twitter</a>
                {% endif %}

                {% if user.profile.instagram_url %}
                | <a href="{{ user.profile.instagram_url }}">Instagram</a>
                {% endif %}

                {% if user.profile.pinterest_url %}
                | <a href="{{ user.profile.pinterest_url }}">Pinterest</a>
                {% endif %}
            </p>
            </div>
        </div>
        </div>
    </div>
{% else %}
    <strong>Aqui você pode mostrar seu perfil.
        Para criar um perfil clique <a href="{% url 'create_profile_page' %}">aqui</a>
    </strong>
</br></br>
{% endif %}
    <hr>
    <h1>{{ post.title }}</h1>
    
    <small><strong>Postado em:</strong> 
        {{ post.post_date }}  
        <br/>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <str> ou </str>
                <a href="{% url 'delete_post' post.pk %}">(Apagar)</a></small><br/>
            {% endif %}
        {% endif %}
    
    <br/>

{% if post.header_image %}
    <img src="{{ post.header_image.url }}" width="500">
{% endif %}

<br/><br/>

{{ post.body|safe }}

<br/>
<a href="{% url 'home' %}" class="btn btn-warning">
Back</a>

<br/>
<br/>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}    
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}     
    {% else %}
        <strong> Para curtir faça <a href="{% url 'login' %}">Login</a>. </strong>
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary disabled">Like</button>
    {% endif %} - {{ total_likes }} Likes
<hr>
</br>

<h2><u>Comentários</u></h2>

<br/>

{% if not post.comments.all %}
    Este Post ainda não tem comentários <a href="{% url 'add_comments' post.pk %}">Faça um comentário</a>
{% else %}

    <a href="{% url 'add_comments' post.pk %}">Faça um comentário</a>
</br>
</br>

    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }} - 
            {{ comment.date_added }}
        </strong>
        </br>
        {{ comment.body }}
        </br></br>
    {% endfor %}
{% endif %}
<hr>
<br>
<br>

</form>

{% endblock %}