
{% block content %}

<!--------    Cards das páginas    ------------->

<div class="card" style="width: 18rem; box-shadow: 0px 2px 23px black; font-family: Arial;">
    {% if  post.header_image.url  %}
        <a href="{% url 'article-detail' post.pk %}">
            <img src="{{ post.header_image.url }}" class="card-img-top" style="height: 100% 100%;">
        </a>
    {% endif %}
    <div class="card-body">
        <a href="{% url 'article-detail' post.pk %}" style="text-decoration:none; font-family: Arial; color: black;">
            <h5 class="card-title">{{ post.title }}</h5>
        </a>
        <p class="card-text">{{ post.snippet }}</p></br>
        {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}" style="text-decoration:none; font-family: Arial; color: grey;">Editar</a>
                    <str> ou </str>
                    <a href="{% url 'delete_post' post.pk %}" style="text-decoration:none; font-family: Arial; color: grey;">Apagar</a>
                  {% endif %}
              {% endif %}</br></br>      
        <a href="{% url 'category' post.category|slugify %}" class="btn btn-primary">{{ post.category }}</a><br></br>
        <div class="card-footer">
            <small class="text-muted">
            <a href="{% url 'show_proflie_page' post.author.profile.id %}" style="text-decoration:none; font-family: Arial; color: grey;">{{ post.author.first_name }} {{ post.author.last_name }}</a>
            <a style="text-decoration:none; font-family: Arial; color: grey;"> - {{ post.post_date }}</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}
