
<!--
<link rel="stylesheet" href="/static/MeuBlog/css/cardsnoticias.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js	"></script>
<script src="https://use.fontawesome.com/releases/v5.7.2/css/all.css" ></script>
-->


<div class="containercn">
    <div class="row">
      <div class="col-lg-4">
        <div class="cardnoticias p-0">
            <div class="cardnoticias-image"> <img src="https://s.yimg.com/ny/api/res/1.2/U.QJ2VX3nxD5RPfAFDEVVg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY1MjtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2021-10/dd4e3b30-2b81-11ec-9f3f-5051bbabcdf1" alt=""> </div>
                <div class="cardnoticias-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Brasil tem a menor taxa de transmissão do coronavírus desde abril de 2020</h4>
                    <h5>Saúde</h5>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="#"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="#"> <span class="fab fa-twitter"></span> </a> </li>
                        <li style="--i:3"> <a href="#"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

