{% extends 'base.html' %}

{% block content %}

{%  if category_posts %}

    <h1>{{ cats }}</h1>

    <ul>
        {% for post in category_posts %}
            <br> 
            <li><strong>Titulo:</strong><a href="{% url 'article-detail' post.pk %}">
                {{ post.title }}</a>
                <br> <strong>Categoria:</strong> {{ post.category }}
                <br> <strong>Author:</strong> {{ post.author }}
                <br> <strong>Postado em:</strong> {{ post.post_date }}
                {% if user.is_authenticated %}
                -  <a href="{% url 'update_post' post.pk %}">(Editar)</a>
                    <str> ou </str>
                    <a href="{% url 'delete_post' post.pk %}">(Apagar)</a> <br/>
            {% endif %}
            {{ post.body }}<br>
            </li>
        {% endfor%}
        </ul>
        {% else %}
            <h4>Deslcupa mas esta categoria não existe!</h4>
        {% endif %}



{% endblock %}