{% extends 'base.html' %}

{% block content %}

{%  if category_posts %}

  <h1>{{ cats }}</h1>
  </br></br>

  <hr>
  <div class='container'>
    <div class="row">
      {% for post in category_posts %}
        <div class="col">
          {% include 'cards.html' with instance=post %}
          <a href="{% url 'article-detail' post.pk %}">{{ obj.title }}</a><br/>
        </div>
      {% endfor %}        
    </div>
  </div> 
{% else %}
    <h4>Deslcupa mas esta categoria não existe!</h4>
{% endif %}
<hr>
</br></br>
{% endblock %}