{% extends 'base.html' %}
{% block title %}Delete seu Post! {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        <h3>Apaga seu Post!!!</h3>
        </br>
        <h3>Delete: {{ post.title }}</h3>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}<br>
                <strong>Você tem certeza?!</strong><br><br>
                <button class="btn btn-warning">Deletar</button>
        </div>
    {% endif %}
{% else %}

<h3>Por favor entre com uma conta para editar ou faça seu cadastro!</h3>

{% endif %}

{% endblock %}