<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/MeuBlog/css/cardshome.css">  
<!--------      Favicon     --------->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/MeuBlog/Favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/MeuBlog/Favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/MeuBlog/Favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/MeuBlog/Favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/MeuBlog/Favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/static/MeuBlog/Favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/static/MeuBlog/css/arrow/arrow.css">
  
  
  
  </head>

  <div class="intro">
    <div class="intro__align">
        <h1 class="intro__align__title">Bem Vindo</h1>
        <h1 class="intro__align__sub-title">Blog em construção</h1>
    </div>
    <div class="arrow arrow-first"></div>
    <div class="arrow arrow-second"></div>
  </div>
  

{% extends 'base.html' %}

{% block content %}


<br>
<h3>Recentes</h3>


<!--------   Card Home   ---------->
<hr>
<div class='wrapper'>
    {% for post in object_list %}
      <div class="col">
        {% include 'cards.html' with instance=post %}
        <a href="{% url 'article-detail' post.pk %}">{{ obj.title }}</a><br/>
      </div></br>
<!--------   Card Home   ---------->

<!------------  CARD OLD ------------------
      <div class="card mb-3" style="box-shadow: 0px 2px 23px black; font-family: Arial;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ post.header_image.url }}" class="img-fluid rounded" style="display: flex; justify-content: center; height: 100% 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <a href="{% url 'article-detail' post.pk %}" style="text-decoration:none; font-size: 150%; color: black;">
                {{ post.title }}</a>
                <a href="{% url 'category' post.category|slugify %}" style="text-decoration:none; color: grey; font-size: 140%;"> - {{ post.category }}</a>
                </br></br>
                {{ post.snippet }}
                </br>
                <br> Por: {{ post.author.first_name }} {{ post.author.last_name }} - 
                {{ post.post_date }}
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    -  <a href="{% url 'update_post' post.pk %}" style="text-decoration:none">(Editar)</a>
                        <str> ou </str>
                        <a href="{% url 'delete_post' post.pk %}" style="text-decoration:none">(Apagar)</a>
                    {% endif %}
                {% endif %}                    
            </div>
          </div>
        </div>
      </div>
  <br>

      {{ post.body|slice:":200"|safe }}
--------------------- CARD OLD --------------------------->

    {% endfor%}
  </div>
</div>
<hr>

{% endblock %}