{% extends 'base.html' %}

{% block content %}


<h1>Posts</h1>

<ul>
{% for post in object_list %}
    <br> 
    <li><strong>Titulo:</strong><a href="{% url 'article-detail' post.pk %}">
        {{ post.title }}</a>
        <br> <strong>Categoria:</strong> <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
        <br> <strong>Author:</strong> {{ post.author.first_name}} 
        {{ post.author.last_name}}
        <br> <strong>Postado em:</strong> {{ post.post_date }}
        {% if user.is_authenticated %}
         -  <a href="{% url 'update_post' post.pk %}">(Editar)</a>
            <str> ou </str>
            <a href="{% url 'delete_post' post.pk %}">(Apagar)</a> <br/>
    {% endif %}
    {{ post.body|slice:":200"|safe }}<br>
    </li>
{% endfor%}
</ul>


{% endblock %}